<ul class="NavigationBar-actionMenu nav-color" data-nosnippet="">
    <!-- Currency chooser -->
    <li class="List-item">
        <div class="NavigationBar-actionMenu-button nav-color App-currencyDropdown dropdown" dropdown="">
            <div class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false"> <span
                    class="Label"><span>$</span> <span>TWD</span></span> <span class="fa fa-angle-down"></span> </div>
            <ul
                class="NavigationBar-actionMenu-dropdown dropdown-menu sl-currency-chooser ng-isolate-scope os-host os-theme-dark os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
                <div class="os-resize-observer-host">
                    <div class="os-resize-observer observed" style="left: 0px; right: auto;"></div>
                </div>
                <div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;">
                    <div class="os-resize-observer observed"></div>
                </div>
                <div class="os-content-glue" style="width: 0px; margin: -15px -16px; height: 0px;"></div>
                <div class="os-padding">
                    <div class="os-viewport os-viewport-native-scrollbars-overlaid" style="">
                        <div class="os-content-arrange"></div>
                        <div class="os-content" style="padding: 15px 16px; height: 100%; width: 100%;">
                            <li class="List-item sl-currency-chooser-currency" href="#hkd">$ HKD</li>
                            <li class="List-item sl-currency-chooser-currency" href="#cny">¥ CNY</li>
                            <li class="List-item sl-currency-chooser-currency" href="#twd">$ TWD</li>
                            <li class="List-item sl-currency-chooser-currency" href="#usd">$ USD</li>
                            <li class="List-item sl-currency-chooser-currency" href="#sgd">$ SGD</li>
                            <li class="List-item sl-currency-chooser-currency" href="#eur">€ EUR</li>
                            <li class="List-item sl-currency-chooser-currency" href="#aud">$ AUD</li>
                            <li class="List-item sl-currency-chooser-currency" href="#gbp">£ GBP</li>
                            <li class="List-item sl-currency-chooser-currency" href="#php">₱ PHP</li>
                            <li class="List-item sl-currency-chooser-currency" href="#myr">RM MYR</li>
                            <li class="List-item sl-currency-chooser-currency" href="#thb">฿ THB</li>
                            <li class="List-item sl-currency-chooser-currency" href="#aed">د.إ AED</li>
                            <li class="List-item sl-currency-chooser-currency" href="#jpy">¥ JPY</li>
                            <li class="List-item sl-currency-chooser-currency" href="#mmk">K MMK</li>
                            <li class="List-item sl-currency-chooser-currency" href="#bnd">$ BND</li>
                            <li class="List-item sl-currency-chooser-currency" href="#krw">₩ KRW</li>
                            <li class="List-item sl-currency-chooser-currency" href="#idr">Rp IDR</li>
                            <li class="List-item sl-currency-chooser-currency" href="#vnd">₫ VND</li>
                            <li class="List-item sl-currency-chooser-currency" href="#cad">$ CAD</li>
                        </div>
                    </div>
                </div>
                <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable">
                    <div class="os-scrollbar-track os-scrollbar-track-off">
                        <div class="os-scrollbar-handle" style="transform: translate(0px, 0px);"></div>
                    </div>
                </div>
                <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable">
                    <div class="os-scrollbar-track os-scrollbar-track-off">
                        <div class="os-scrollbar-handle" style="transform: translate(0px, 0px);"></div>
                    </div>
                </div>
                <div class="os-scrollbar-corner"></div>
            </ul>
        </div>
    </li> <!-- Language chooser -->
    <li class="List-item">
        <div class="NavigationBar-actionMenu-button nav-color App-languageDropdown dropdown" dropdown="">
            <div class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false"> <svg
                    class="fa fa-v5-globe">
                    <use xlink:href="#fa-v5-globe"></use>
                </svg> <span class="Label">繁體中文</span> <span class="fa fa-angle-down"></span> </div>
            <ul class="NavigationBar-actionMenu-dropdown dropdown-menu sl-language-chooser ng-isolate-scope">
                <li class="List-item sl-language-chooser-language" href="#en">English</li>
                <li class="List-item sl-language-chooser-language" href="#zh-hant">繁體中文</li>
            </ul>
        </div>
    </li> <!-- Desktop Search bar -->
    <li class="List-item search-bar">
        <div class="NavigationBar-actionMenu-button nav-color Product-searchField">
            <form class="Product-searchField-form sl-product-search ng-pristine ng-valid ng-isolate-scope"> <input
                    maxlength="100" placeholder="找商品"> <button type="submit"> <svg class="icons icon-search">
                        <use xlink:href="#icon-search"></use>
                    </svg> </button> </form>
        </div>
    </li> <!-- Messages -->
    <li class="List-item"> <a
            class="NavigationBar-actionMenu-button nav-color MessageDialog-showButton sl-message-toggle ng-isolate-scope">
            <span class="fa fa-comment"></span> </a> </li> <!-- Sign-in button -->
    <li class="List-item" style="position:relative;"> <a href="/users/sign_in"
            class="NavigationBar-actionMenu-button nav-color"> <svg class="icons icon-person">
                <use xlink:href="#icon-person"></use>
            </svg> </a> </li> <!-- Cart panel toggle -->
    <basic-popover class="cart-over-limit ng-isolate-scope">
        <div class="basic-popover-desktop ng-hide" ng-show="showPopover">
            <div class="body">
                <div class="close-section" ng-click="popoverConfig.closeBtnEvent()">
                    <div class="close-button"></div>
                </div>
                <div class="description">
                    <!-- ngIf: popoverConfig.iconSrc -->
                    <!-- ngIf: popoverConfig.title -->
                    <!-- ngIf: popoverConfig.description -->
                </div>
                <button class="action-button ng-binding" ng-click="popoverConfig.btnEvent()"></button>
            </div>
        </div>
    </basic-popover>
    <li class="List-item"> <a class="NavigationBar-actionMenu-button nav-color CartPanel-toggleButton sl-cart-toggle">
            <span class="fa fa-shopping-bag"></span> <span
                class="Cart-count sl-cart-count primary-color ng-isolate-scope" style="display: none;"></span> </a>
    </li>
</ul>